:root{
    --brown:  rgb(110, 70, 9);
    --forecolor:blanchedalmond;
}

#navbar{
    background-color: var(--brown);
    
}
.links{
    color: var(--brown);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.nav-link{
    font-size: large;
 
}
header{
    background-image: url('../images/background.jpg');
    background-size: cover;
}
#home{
  
}
.heading-text{
    background-color: var(--brown);
    color:var(--forecolor) ;

}
.heading-text2{
    font-size: 1.9 rem;
}
.section{
    background-color: var(--forecolor);
}
.bgcolor{
    background-color: var(--brown);
}
.foretext{
    color: var(--brown);
}
.card:hover{
    box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}
.subbtn{
    color: var(--forecolor);
}
a{
    cursor: pointer;
}
@media screen and (max-width:460px){
    .heading-text2{
        font-size: 2rem;
    }}
    @media screen and (max-width:767px){
    .heading-text{
        color: var(--forecolor);

        background-color: rgba(109, 67, 3, 0.774);
      
    
    }
}